<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ffsec.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C3AF188973438AADB846BD469D232037C23D25DA</string>
				<key>dateExpires</key>
				<string>13.01.2024</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>577RAG5643.com.ntechlab.ffsec</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>577RAG5643</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ffsec.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>093d232a-e261-46eb-bc26-5046fd929cd9</string>
				<key>name</key>
				<string>ffsec inhouse</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>577RAG5643</string>
				<key>name</key>
				<string>N-TECH.LAB LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
