<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://vtimofeev.github.io/ntechlab/ios/21031701/ffsec.ipa</string>
		<key>displayImageURL</key>
		<string>https://vtimofeev.github.io/ntechlab/ios/21031701/ffsec.png</string>
		<key>fullSizeImageURL</key>
		<string>https://vtimofeev.github.io/ntechlab/ios/21031701/ffsec.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ntechlab.ffsec</key>
		<string>ffsec inhouse</string>
	</dict>
	<key>signingCertificate</key>
	<string>C3AF188973438AADB846BD469D232037C23D25DA</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>577RAG5643</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
